name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.30"
      - name: Set up Python
        run: uv python install

      - name: Enable caching
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run Linting (Ruff)
        run: uv run ruff check .

      - name: Check Formatting
        run: uv run ruff format --check .
  build-docker:
    needs: quality-check
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set Short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image (api)
        uses: docker/build-push-action@v5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.USERNAME }}/skin-disease-api:latest
            ${{ secrets.USERNAME }}/skin-disease-api:${{ steps.vars.outputs.sha_short }}

      - name: Build and Push Docker Image (frontend)
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ${{ secrets.USERNAME }}/skin-disease-frontend:latest
            ${{ secrets.USERNAME }}/skin-disease-frontend:${{ steps.vars.outputs.sha_short }}
